:root {
  --color-drop:        #E0E4E7;
  --color-text:        #333;
  --color-text-action: #fff;

  --accent:            #8a2be2; /* --blueviolet */
  --accent-hover:      #7f0ceb;
  --accent-background: #F1E5FC;
  --accent-text:       var(--color-text-action);

  --success:           #2ecc71;
  --success-hover:     #20b35d;
  --success-background:#a7d8bb;
  --success-text:      var(--color-text-action);

  --primary:           #3498d0;
  --primary-hover:     #1c80b9;
  --primary-background:#6eb7e0;
  --primary-text:      var(--color-text-action);

  --details:           #c0c0c0; /* --silver */
  --details-hover:     #a09f9f;
  --details-background:#dbdbdb;
  --details-text:      var(--color-text);

  --failure:           #e74c3c;
  --failure-hover:     #da3422;
  --failure-background:#e68378;
  --failure-text:      var(--color-text-action);

  --warning:           #e67e22;
  --warning-hover:     #d46e14;
  --warning-background:#ee9547;
  --warning-text:      var(--color-text-action);
}

  /*
    #CF2D53

    #B4133D;
    #009688;
    #92CBC5;

    #5C9D51;
    #3477CC;
    #F3A33A;
    #C33E38;

    #fcbfba;

    #00aabb;

    #4CAF50 dodgerblue

    --telegram:   #3287D2;
    --instagram: #125688;
    --background: #FCC;

    @color-english: lighten(#00247d, 10%); // #94bee6
    @color-german:  darken(#d0af6f, 20%);
    @color-french:  darken(#94BEE6, 20%);
    @color-italian: #E47A6C;
    @color-turkish: #C0382C;
    @color-tatar:   #008001;
    @color-bash:    #0072FE;
    @color-spain:   #FEC400;
    @color-rus:     lighten(#0038A5, 15%);
    @color-japan:   #BB002D;
    @color-china:   #DE2810;
    @color-arabic:  #00732E;
    @color-poland:  #DC143B;
    @color-czech:   #15437F;

    @color-accient: #2196F3;
    @color-select:  yellow;


    @color-black : #000;
    @color-night : #444;
    @color-silver: silver;
    @color-d5d5d5: #d5d5d5;
    @color-white : #fff;
    @color-prime : #F2FBFF;
    @color-second: darken(@color-prime, 10%);
    @color-paper : #fafafa;
    @color-shadow: #ccc;
    @color-accent: #03A9F4;

    @darkPrimaryColor:   #1976D2;
    @primaryColor:       #2196F3;
    @lightPrimaryColor:  #BBDEFB;
    @textPrimaryColor:   #FFFFFF;
    @primaryTextColor:   #212121;
    @secondaryTextColor: #757575;
    @dividerColor:       #BDBDBD;
    @ripple: #3f51b5;

    metro:
light > green   < dark  magenta light > purple  < dark  darken  teal    light > blue    < dark  yellow  orange  < dark red      < dark  white
#9FB24A #489F2E #386E49 #EB3794 #9126A1 #753E75 #5943B3 #1D1D1D #4AA8A8 #F0F4FE #448AE8 #345892 #F7C546 #DBA33E #CB5B39 #AB2F49 #DC3327 #FFFFFF

    material:
      red     pink    purple  <deep   indigo  blue    <light  cyan    teal    green   <light  lime    yellow  amber   orange  <deep   brown   grey    <blue
      #E25141 #D73964 #8F38AA #5F42B0 #4054AF #4496EC #46A8EE #51BAD1 #409388 #67AB5B #97C05B #D1DA59 #FDEA60 #F7C244 #F29B38 #ED6237 #74564A #9E9E9E #657C89

  50: #ffebee #fce4ec #f3e5f5 #ede7f6 #e8eaf6 #e3f2fd #e1f5fe #e0f7fa #e0f2f1 #e8f5e9 #f1f8e9 #f9fbe7 #fffde7 #fff8e1 #fff3e0 #fbe9e7 #efebe9 #fafafa #eceff1
 100: #ffcdd2 #f8bbd0 #e1bee7 #d1c4e9 #c5cae9 #bbdefb #b3e5fc #b2ebf2 #b2dfdb #c8e6c9 #dcedc8 #f0f4c3 #fff9c4 #ffecb3 #ffe0b2 #ffccbc #d7ccc8 #f5f5f5 #cfd8dc light primary
 200: #ef9a9a #f48fb1 #ce93d8 #b39ddb #9fa8da #90caf9 #81d4fa #80deea #80cbc4 #a5d6a7 #c5e1a5 #e6ee9c #fff59d #ffe082 #ffcc80 #ffab91 #bcaaa4 #eeeeee #b0bec5
 300: #e57373 #f06292 #ba68c8 #9575cd #7986cb #64b5f6 #4fc3f7 #4dd0e1 #4db6ac #81c784 #aed581 #dce775 #fff176 #ffd54f #ffb74d #ff8a65 #a1887f #e0e0e0 #90a4ae
 400: #ef5350 #ec407a #ab47bc #7e57c2 #5c6bc0 #42a5f5 #29b6f6 #26c6da #26a69a #66bb6a #9ccc65 #d4e157 #ffee58 #ffca28 #ffa726 #ff7043 #8d6e63 #bdbdbd #78909c
 500: #f44336 #e91e63 #9c27b0 #673ab7 #3f51b5 #2196f3 #03a9f4 #00bcd4 #009688 #4caf50 #8bc34a #cddc39 #ffeb3b #ffc107 #ff9800 #ff5722 #795548 #9e9e9e #607d8b primary, accent2
 600: #e53935 #d81b60 #8e24aa #5e35b1 #3949ab #1e88e5 #039be5 #00acc1 #00897b #43a047 #7cb342 #c0ca33 #fdd835 #ffb300 #fb8c00 #f4511e #6d4c41 #757575 #546e7a
 700: #d32f2f #c2185b #7b1fa2 #512da8 #303f9f #1976d2 #0288d1 #0097a7 #00796b #388e3c #689f38 #afb42b #fbc02d #ffa000 #f57c00 #e64a19 #5d4037 #616161 #455a64 dark primary
 800: #c62828 #ad1457 #6a1b9a #4527a0 #283593 #1565c0 #0277bd #00838f #00695c #2e7d32 #558b2f #9e9d24 #f9a825 #ff8f00 #ef6c00 #d84315 #4e342e #424242 #37474f
 900: #b71c1c #880e4f #4a148c #311b92 #1a237e #0d47a1 #01579b #006064 #004d40 #1b5e20 #33691e #827717 #f57f17 #ff6f00 #e65100 #bf360c #3e2723 #212121 #263238
A100: #ff8a80 #ff80ab #ea80fc #b388ff #8c9eff #82b1ff #80d8ff #84ffff #a7ffeb #b9f6ca #ccff90 #f4ff81 #ffff8d #ffe57f #ffd180 #ff9e80
A200: #ff5252 #ff4081 #e040fb #7c4dff #536dfe #448aff #40c4ff #18ffff #64ffda #69f0ae #b2ff59 #eeff41 #ffff00 #ffd740 #ffab40 #ff6e40 - accent
A400: #ff1744 #f50057 #d500f9 #651fff #3d5afe #2979ff #00b0ff #00e5ff #1de9b6 #00e676 #76ff03 #c6ff00 #ffea00 #ffc400 #ff9100 #ff3d00
A700: #d50000 #c51162 #aa00ff #6200ea #304ffe #2962ff #0091ea #00b8d4 #00bfa5 #00c853 #64dd17 #aeea00 #ffd600 #ffab00 #ff6d00 #dd2c00

 accent, accent2 - color 2
 #212121 - primary text
 #757575 - secondary text
 #BDBDBD - divider


IBM:
    blue ultramarine Cerulean aqua  teal    green   lime    yellow  gold    orange  peach   red     magenta purple  violet  ingigo  gray    < Cool  < Warm
 1: #e1ebf7 #e7e9f7 #deedf7 #d1f0f7 #c0f5e8 #cef3d1 #d7f4bd #fbeaae #f5e8db #f5e8de #f7e7e2 #f7e6e6 #f5e7eb #f7e4fb #ece8f5 #e9e8ff #eaeaea #e3ecec #efe9e9
10: #c8daf4 #d1d7f4 #c2dbf4 #a0e3f0 #8ee9d4 #89eda0 #b4e876 #fed500 #ffd191 #fdcfad #f8d0c3 #fccec7 #f5cedb #efcef3 #e2d2f4 #dcd4f7 #d8d8d8 #d0dada #e2d5d5
20: #a8c0f3 #b0bef3 #95c4f3 #71cddd #40d5bb #57d785 #95d13c #e3bc13 #ffb000 #fcaf6d #faad96 #ffaa9d #f7aac3 #e4adea #d2b5f0 #c7b6f7 #c0bfc0 #b8c1c1 #ccbcbc
30: #79a6f6 #89a2f6 #56acf2 #00b6cb #00baa1 #34bc6e #81b532 #c6a21a #e39d14 #fe8500 #fc835c #ff806c #f87eac #d68adf #bf93eb #ae97f4 #a6a5a6 #9fa7a7 #b4a1a1
40: #5392ff #648fff #009bef #12a3b4 #00a78f #00aa5e #73a22c #b3901f #c4881c #db7c00 #fe6100 #ff5c49 #ff509e #cb71d7 #b07ce8 #9b82f3 #949394 #8c9696 #9e9191
50: #2d74da #3c6df0 #047cc0 #188291 #008673 #00884b #5b8121 #91721f #9c6d1e #ad6418 #c45433 #e62325 #dc267f #c22dd5 #9753e1 #785ef0 #777677 #6f7878 #7d7373
60: #1f57a4 #3151b7 #175d8d #17616b #006456 #116639 #426200 #70541b #74521b #814b19 #993a1d #aa231f #a91560 #9320a2 #7732bb #5a3ec8 #595859 #535a5a #5f5757
70: #25467a #2e3f8f #1c496d #164d56 #124f44 #12512e #374c1a #5b421a #5b421c #653d1b #782f1c #83231e #831b4c #71237c #602797 #473793 #464646 #424747 #4b4545
80: #1d3458 #252e6a #1d364d #13393e #133a32 #123b22 #283912 #452f18 #42301b #482e1a #56251a #5c1f1b #5d1a38 #501e58 #44216a #352969 #343334 #343334 #373232
90: #19273c #20214f #1b2834 #122a2e #122b26 #112c1b #1f2a10 #372118 #2f261c #33241c #3a201b #3e1d1b #401a29 #3b1a40 #321c4c #272149 #272727 #272727 #2a2626

white
   neutral cool    warm
1: #fcfcfc #fbfcfc #fdfcfc
2: #f9f9f9 #f8fafa #fbf8f8
3: #f6f6f6 #f4f7f7 #f9f6f6
4: #f3f3f3 #f0f4f4 #f6f3f3

data-viz
Qualitative
blue-40, aqua-20, green-30, lime-20, gold-20, peach-30, magenta-40, indigo-40

blind-safe
ultramarine-40, indigo-50, magenta-50, orange-40, gold-20

modulbank:
black    graphite midnight blue     seawave  green    olive    yellow   orange   red      pink     violet
#000000  #243036  #003A69  #0069A6  #0C7F7B  #5E8C00  #AAB300  #B79310  #B84421  #A32626  #961B45  #4D3673
#3C3C3C  #49555C  #2E6493  #0082CD  #059B91  #6CA300  #B7BF00  #D2AA0F  #DA6622  #B93535  #B02358  #765397
#727272  #717D83  #3D78A7  #009EE3  #24C4BC  #88BD1F  #C5CC00  #E8C113  #EE7C2D  #CF4545  #CB3070  #8769AE
#D8D8D8  #9DA6AA  #6895BD  #30B5EE  #41CFC8  #A4D73E  #D2D800  #EFD04E  #F7913D  #E06B6B  #E64D8D  #A487BA
#EBEBEB  #CBCFD1  #8CB2D4  #6BC9F2  #64DCD2  #C0EB69  #DEE240  #F5DE88  #FAAB62  #F09292  #F385AE  #C3AFD2
#FAFAFA  #E6E8E9  #A8C6DF  #B2E2F7  #84E6E2  #D4F296  #EAED80  #FAE6AA  #FDC886  #F8BDB8  #F9C3D5  #D3C6E2
#FFFFFF  #EDF0F2  #E4EEF5  #EDFAFF  #B4F3F0  #EEFAD4  #F6F7C0  #FCF2CE  #FFE3B4  #FFE6E6  #FCE1ED  #E5DDED

//// IBM-Carbon
// Color Variables
$brand-01: #3d70b2;
$brand-02: #5596e6;
$brand-03: #41d6c3;
$ui-01: #ffffff;
$ui-02: #f4f7fb;
$ui-03: #dfe3e6;
$ui-04: #8897a2;
$ui-05: #5a6872;
$text-01: #152935;
$text-02: #5a6872;
$text-03: #cdd1d4;
$inverse-01: #ffffff;
$inverse-02: #272d33;
$field-01: #ebf0f7;
$hover-primary: #30588c;
$hover-primary-text: #294c86;
$hover-danger: #bd1427;
$hover-secondary: #3d70b2;
$hover-row: rgba(#5596e6, 0.1);
$support-01: #e0182d;
$support-02: #5aa700;
$support-03: #efc100;
$support-04: #5aaafa;

// fabricator
Dark   rgb(30, 30, 30)
Light  rgb(242, 242, 242)
Red    rgb(201, 55, 6)
Yellow rgb(252, 207, 80)
Blue   rgb(39, 102, 143)

  // error       : '#F9D0C4',
  // second      : '#F2FBFF',
  // primaryDark : '#1976D2',
  // primary     : '#2196F3',
  // primaryLight: '#BBDEFB',
  // success     : '#C2E0C6',
  // process     : '#DEF2F0',
  // accent      : '#03A9F4',
  // telegram    : '#3287D2',
  // instagram   : '#125688',
  // notify      : '#4080B4', // #4ea5cd; // #3b8eb5

  // like     : '#88BD1F', // '#61b832', // '#DFF2BF', // #4F8A10 // #55a12c
  // autoclose: '#DEE240', // '#D4D646', // '#DFF2BF', // '#C2E0C6',
  // redirect : '#FAAB62', // '#ffCC80', // '#df8b00', // '#FFCCBA', // #eaaf51 // #df8b00
  // dislike  : '#ff7744' //  '#dc3d21'  // '#FFBABA' // #D8000C // tomato
  // // ['#419DDD', '#94BA41', '#D4D646', '#6CCCC7', '#826CAA', '#D55A8C']; // корпоративные цвета
*/

/*
var root = document.querySelector(':root');
var rootStyles = getComputedStyle(root);
var mainColor = rootStyles.getPropertyValue('--main-color');

console.log(mainColor); // '#ffeead'
root.style.setProperty('--main-color', '#88d8b0');

Opacity %   255 Step        2 digit HEX prefix
0%          0.00            00
5%          12.75           0C
10%         25.50           19
15%         38.25           26
20%         51.00           33
25%         63.75           3F
30%         76.50           4C
35%         89.25           59
40%         102.00          66
45%         114.75          72
50%         127.50          7F
55%         140.25          8C
60%         153.00          99
65%         165.75          A5
70%         178.50          B2
75%         191.25          BF
80%         204.00          CC
85%         216.75          D8
90%         229.50          E5
95%         242.25          F2
100%        255.00          FF

#9ED110, #50B517, #179067, #476EAF, #9f49ac, #CC42A2, #FF3BA7, #FF5800, #FF8100, #FEAC00, #FFCC00, #EDE604

#f06d06
#fffdc2 #d7f0a2


 #e34747;
 #5ab92c;
 #226de2;
*/
